<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="grid-container">

    <div th:replace="layout :: logo"></div>
    <div th:replace="layout :: flash"></div>

    <div class="grid-100">

            <div class="recipes">


                <form th:action="@{'/save/' + ${recipe.id}}" method="post" th:object="${recipe}">
                    <input type="hidden" id="recipeIdInput" th:field="${recipe.id}" th:value="${recipe.id}"/>
                    <input type="hidden" id="recipeFavorite" th:field="${recipeFavorite}" th:value="${recipeFavorite}"/>

                    <div th:each="favUser, stat : ${recipe.favoriteUsers}" hidden="hidden">
                        <input hidden="hidden" th:id="@{'favUser' + ${stat.index}}" th:value="${favUser.username}"/>
                    </div>

                    <p hidden="hidden" id="recipeId" th:text="${recipe.id}"/>
                    <p hidden="hidden" id="recipeUserName" th:text="${recipe.user.username}"/>

                    <div class="grid-100 row controls">
                        <div class="grid-50">
                            <h2> Recipe Editor </h2>
                        </div>
                        <div class="grid-50">
                            <div class="flush-right">
                                <button type="button" onclick="saveRecipe()">Save Recipe</button>
                                <a href="/"><button type="button" class="secondary">Cancel</button></a>
                            </div>
                        </div>
                    </div><div class="clear"></div>

                    <div class="grid-100 row">
                        <div class="grid-20">
                            <p class="label-spacing">
                                <label> Name </label>
                            </p>
                        </div>
                        <div class="grid-40">
                            <p>
                                <input id="recipeName" type="text" th:placeholder="${recipe.name}" th:field="${recipe.name}"/>
                            </p>
                        </div>
                        <div class="grid-40">
                            <h2 id="picHere" class="flush-right">
                                <img id="favoritedSvg" th:if="${recipeFavorite} == true" src="../assets/images/favorited.svg" height="16px" onclick="toggleFavorite()"/>
                                <img id="favoriteSvg" th:if="${recipeFavorite} != true" src="../assets/images/favorite.svg" height="16px" onclick="toggleFavorite()"/>
                            </h2>
                        </div>
                    </div><div class="clear"></div>

                    <div class="grid-100 row">

                        <div class="grid-20">
                            <p class="label-spacing">
                                <label> Photo </label>
                            </p>
                        </div>

                        <div class="grid-30">
                            <p id="imgAppendHere">
                                <img id="img" th:src="@{'/photos/' + ${recipe.id} + '.png'}" height="60px" onclick="openImageWindow(this.src)"/>
                            </p>
                        </div>

                        <div class="prefix-20 grid-30">
                            <div class="flash-right">
                                <p>
                                    <input type="file" id="file" name="file"/>
                                </p>
                                <p>
                                    <button type="button" onclick="uploadPhoto()" class="secondary">Upload</button>
                                </p>
                            </div>
                        </div>

                    </div><div class="clear"></div>

                    <div class="grid-100 row">
                        <div class="grid-20">
                            <p class="label-spacing">
                                <label> Description </label>
                            </p>
                        </div>
                        <div class="grid-40">
                            <p>
                                <textarea id="recipeDescription" th:placeholder="${recipe.description}" th:field="${recipe.description}"></textarea>
                            </p>
                        </div>
                    </div><div class="clear"></div>

                    <div class="grid-100 row">
                        <div class="grid-20">
                            <p class="label-spacing">
                                <label> Category </label>
                            </p>
                        </div>
                        <div class="grid-30">
                            <p>
                                <select id="recipeCategory" th:field="${recipe.category.id}" onchange="changeSelectedCategory()">
                                    <option th:each="category : ${allCategories}" th:if="${recipe.category.id} ne ${category.id}" th:value="${category.id}" th:text="${category.name}">All Categories</option>
                                    <option th:value="${recipe.category.id}" th:text="${recipe.category.name}" selected="selected">All Categories</option>
                                </select>
                            </p>
                        </div>
                    </div><div class="clear"></div>
                    <p th:each="category, stat : ${allCategories}" th:id="@{'getCategoryNameById' + ${category.id}}" th:text="${category.name}" hidden="hidden"></p>

                    <div class="grid-100 row">
                        <div class="grid-20">
                            <p class="label-spacing">
                                <label> Prep Time </label>
                            </p>
                        </div>
                        <div class="grid-20">
                            <p>
                                <input id="recipePrepTime" type="time" th:placeholder="${recipe.prepTime}" th:field="${recipe.prepTime}"/>
                            </p>
                        </div>
                    </div><div class="clear"></div>

                    <div class="grid-100 row">
                        <div class="grid-20">
                            <p class="label-spacing">
                                <label> Cook Time </label>
                            </p>
                        </div>
                        <div class="grid-20">
                            <p>
                                <input id="recipeCookTime" type="time" th:placeholder="${recipe.cookTime}" th:field="${recipe.cookTime}"/>
                            </p>
                        </div>
                    </div><div class="clear"></div>

                    <div id="ingredientRow" class="grid-100 row">
                        <div class="grid-20">
                            <p class="label-spacing">
                                <label> Ingredients </label>
                            </p>
                        </div>
                        <div class="grid-30">
                            <p class="label-spacing">
                                <label> Item </label>
                            </p>
                        </div>
                        <div class="grid-30">
                            <p class="label-spacing">
                                <label> Condition </label>
                            </p>
                        </div>
                        <div class="grid-20">
                            <p class="label-spacing">
                                <label> Quantity </label>
                            </p>
                        </div>

                        <div th:each="ingredient, stat : ${recipe.ingredients}" class="ingredient-row">
                            <div class="prefix-20 grid-30">
                                <p>
                                    <input th:id="@{'recipeIngredient' + ${stat.index}}" th:placeholder="${recipe.ingredients[__${stat.index}__]}" th:field="${recipe.ingredients[__${stat.index}__]}"/>
                                </p>
                            </div>
                            <div class="grid-30">
                                <p>
                                    <input th:id="@{'recipeCondition' + ${stat.index}}" th:placeholder="${recipe.conditions[__${stat.index}__]}" th:field="${recipe.conditions[__${stat.index}__]}"/>
                                </p>
                            </div>
                            <div class="grid-10 suffix-10">
                                <p>
                                    <input th:id="@{'recipeQuantity' + ${stat.index}}" th:placeholder="${recipe.quantities[__${stat.index}__]}" th:field="${recipe.quantities[__${stat.index}__]}"/>
                                </p>
                            </div>
                        </div>
                        <div class="prefix-20 grid-80 add-row">
                            <p>
                                <button type="button" onclick="addIngredient()" class="secondary">+ Add Another Ingredient</button>
                            </p>
                        </div><div class="clear"></div>
                    </div>

                    <div id="stepsRows" class="grid-100 row">
                        <div class="grid-20">
                            <p class="label-spacing">
                                <label> Steps </label>
                            </p>
                        </div>
                        <div class="grid-80">
                            <p class="label-spacing">
                                <label> Description </label>
                            </p>
                        </div>
                        <div th:each="step, stat : ${recipe.steps}" class="step-row">
                            <div class="prefix-20 grid-80">
                                <p>
                                    <input th:id="@{'recipeStep' + ${stat.index}}" th:placeholder="${recipe.steps[__${stat.index}__]}" th:field="${recipe.steps[__${stat.index}__]}" th:name="${recipe.steps[__${stat.index}__]}"/>
                                </p>
                            </div>
                        </div>
                        <div class="prefix-20 grid-80 add-row">
                            <p>
                                <button type="button" onclick="addStep()" class="secondary">+ Add Another Step</button>
                            </p>
                        </div>
                    </div><div class="clear"></div>

                </form>

                <div class="row">&nbsp;</div>

            </div> <!-- recipes -->
        </div> <!-- grid-100 -->
    </div> <!-- grid-container -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="../assets/scripts/flashMessage.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/scripts/openImageWindow.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/scripts/toggleFavorite.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/scripts/edit.js" type="text/javascript" charset="utf-8"></script>
</body>
<footer th:replace="layout :: footer"></footer>
</html>